<!DOCTYPE html>
<html>
<head>
  <title>Link Shortener</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
</head>
  <center>
    <div class="container">
      <div class="jumbotron">
        <h1>Get Down</h1>
        <h2>The Link Shortener</h2>
      </div>
    </div>
  </center>
<body>