<% include partials/header%>

<div class="container">
  <center>
    <form method="post" action="/links" class='form'>
      <div class="form-group">
        <input type="text" name="url" style="width:800px;" placeholder="Enter Hyperlink">
      </div>
        <input type="submit" value="Get Down!" id="theButton" class="btn btn-primary">
    </form>
  </center>
</div>


<% include partials/footer%>