<% include partials/header%>
<div class="container">
  <center>
    <h2>Here's Something For Your Time</h2>
    <hr>
    <br>
  <div id="output" class="container">
   <a href="<%= result %>"><%= result %></a>
  </div>
  </center>
</div>

<% include partials/footer%>